extends ../../templates/default
block vars
	-
		title = "WANT TO DOMINATE IN COD MW II ?"
block content
	link(rel="stylesheet" href="template/css/poster.css")
	.poster.cover
		img(src="img/cod-mw2-poster-main.png" alt="")

	link(rel="stylesheet" href="template/css/intro.css")
	.intro
		.case
			.intro__wrap
				.intro__logo
					img(src="img/cod-mw2-logo.png" alt="")
				.intro__title.h1.u WANT TO DOMINATE IN #[u COD MW II] ? BUY CAMO UNLOCK, LEVELING AND OTHER
				a.intro__btn.btn.--md.--violet(href="javascript:;") OPEN CHAT
				.intro__desc.h6 Avg. response time — 35 sec


	link(rel="stylesheet" href="template/css/advantages.css")
	.advantages
		.case
			.advantages__list
				.advantages__item
					.advantages__icon
						img(src="img/fire.svg" alt="")
					.advantages__text
						.advantages__name.h3 LOW PRICES
						.advantages__desc.t2 We are constantly monitoring the <br>prices on the market to ensure our <br>customers get the best deal possible.

				.advantages__item
					.advantages__icon
						img(src="img/flash.svg" alt="")
					.advantages__text
						.advantages__name.h3 FAST DELIVERY
						.advantages__desc.t2 We work quickly and hiring <br>only the best players, always <br>ready to jump into action.

				.advantages__item
					.advantages__icon
						img(src="img/money-protection.svg" alt="")
					.advantages__text
						.advantages__name.h3 TOTAL SECURITY
						.advantages__desc.t2 Your payment is frozen until you notify <br>us that you’re satisfied with the <br>delivery and leave feedback.


	.bg-wrap
		.bg.cover
			img(src="img/cod-mw2-map.png" alt="")
		link(rel="stylesheet" href="template/css/steps.css")
		.steps
			.case
				.steps__title.h2 4 STEPS #[span TO START ENJOYING COD MW II & WARZONE 2]
				.steps__list
					.steps__item
						.steps__img-wrap
							.steps__img.cover
								img(src="img/cod-mw2-poster-1.jpg" alt="")
						.steps__content
							.steps__name.h3.u BUY #[u CAMO] UNLOCK
							.steps__text.t1
								p What’s the point in winning if you don’t do it with style? Weapon camo is a great way to customize your appearance. It will help you distinguish yourself and create a recognizable image.
								p A rare weapon camo is a sign of prestige. Getting a camo like that takes effort and dedication, and shows that you’re an experienced player. It’s a way to demonstrate to both your friends and opponents that you’re a force to be reckoned with.
								p Good looking camos take a lot of time to unlock. This is where we come in. We will help you to skip the boring grind.
							.steps__btn.btn.--violet.--md(href="javascript:;") BUY CAMO UNLOCK

					.steps__item
						.steps__img-wrap
							.steps__img.cover
								img(src="img/cod-mw2-poster-2.jpg" alt="")
						.steps__content
							.steps__name.h3.u BUY WEAPON #[u UNLOCK]
							.steps__text.t1
								p You need a proper weapon not only if you want to win, but so you can enjoy the process while doing it. Get yourself a weapon that best fits you and use it to crush your opponents!
								p Getting the weapon that suits your playstyle can be a time consuming process. We will unlock any weapon on your account, so you don’t need to waste your time on boring stuff and can start having fun right away. 
							.steps__btn.btn.--violet.--md(href="javascript:;") BUY WEAPON UNLOCK
					.steps__item
						.steps__img-wrap
							.steps__img.cover
								img(src="img/cod-mw2-poster-3.jpg" alt="")
						.steps__content
							.steps__name.h3.u BUY WEAPON #[u LEVELING]
							.steps__text.t1
								p Getting a good weapon is the first step, but you must also spend time leveling it up before you can unlock its full potential. A weapon that isn’t properly kitted out is just a dead weight.
								p To get the most out of your weapon you need it raised to level 55. This will allow you to install modules, making it deal more damage, have less recoil and become more effective in general. Our boosting service will make sure your weapon is fully leveled up, so there’s nothing holding you back.
							.steps__btn.btn.--violet.--md(href="javascript:;") BUY WEAPON LEVELING-wrap

					.steps__item
						.steps__img-wrap
							.steps__img.cover
								img(src="img/cod-mw2-poster-4.jpg" alt="")
						.steps__content
							.steps__name.h3.u START PLAY WITH #[u PRO]
							.steps__text.t1
								p To become the best you have to learn from the best, and there’s no better way to learn than to see a real PRO in action. Our professional players will show you all the greatest tricks and help you dominate the lobby. After just a few sessions of coaching you will see your K/D ratio improve and your winrate gets a huge boost.
								p We have some of the best and most experienced players in the world working with us. Recruit them into your team and they will carry you to victory. 
								p Use our service to find new friends to play with. After all, it’s always better to have someone watching your back.
							.steps__btn.btn.--violet.--md(href="javascript:;") PLAY WITH PRO

		link(rel="stylesheet" href="template/css/ask.css")
		.ask
			.case
				.ask__wrap
					.ask__content
						.ask__title.h2 NOT SURE WHERE TO START FROM? ASK TEAM RUNKERS
						a.ask__btn.btn.--violet.--md(href="javascript:;") CHAT WITH MANAGER
						.ask__desc.h6 Avg. response time — 35 sec
					.ask__img
						img(src="img/cod-mw2-character.png" alt="")
					.ask__bg.cover
						img(src="img/ask-bg.jpg" alt="")

	link(rel="stylesheet" href="template/css/reasons.css")
	.reasons
		.case
			.reasons__title.h2 2 MORE REASONS #[span TO CHOOSE RUNKERS]
			.reasons__list
				.reasons__item
					.reasons__icon
						img(src="img/support.svg" alt="")
					.reasons__text
						.reasons__name.h3 24/7 SUPPORT
						.reasons__desc.t2 Our customer service will gladly help you solve any issue. We are ready to respond at any time.
				.reasons__item
					.reasons__icon
						img(src="img/players.svg" alt="")
					.reasons__text
						.reasons__name.h3 TRUSTED PLAYERS
						.reasons__desc.t2 Every PRO has their skills tested and their personal ID verified and recorded.