.poster {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 750px;
}
.poster::after {
  content: "";
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(11, 16, 24, 0) 78.2%, #080b16 100%);
}
.poster img {
  width: 100%;
  max-width: auto;
  object-position: center top;
}

@media screen and (max-width: 767px) {
  .poster {
    height: 290px;
  }
}